// fonts
$headingFontFamily: 'Playfair Display', serif;
$standardFontFamily: 'Open Sans', sans-serif;
$bodyFont:#333; 
$link:#333; 

//colours
$primaryColour:#8ABFCC; //turquoise 
$primaryColourText:#fff;
$secondaryColour:#FB9BBF; // pink from logo
$secondaryColourText:#fff;
$emphasisColour:#FE519C; // magenta
$emphasisColourText:#fff; 
$deemphasisColour:#FBD0E0; // light pink
$deemphasisColourText:#333; 
$vibrantColour: #55A0B2; // dark turquoise from logo

// Social icons
$facebook:#3B5998;
$linkedin:#007BB6;
$pinterest:#CB2027;
$skype:#02B4EB; 
$twitter:#2CAAE1;
$tumblr:#304E6C;
$youtube:#B10503;
$google-plus:#DD4B39;
$github:#000000;
